name: Run blotter

on:
  workflow_dispatch: {}
  schedule:
    - cron: "55 18 * * 1-5"  # 18:55 UTC (approx 1:55pm ET standard time)

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: |
          python main.py | tee output.txt

      - name: Upload output file
        uses: actions/upload-artifact@v4
        with:
          name: blotter-output
          path: output.txt
